<div class="mvl-card mvl-card--lob">
        <div class="card-content-frame" >
            <div class="card-thumb-frame">
                <figure class="img__wrapper">
                    <div 
                        src = ""
                        class="card-thumb-frame__thumbnail img__blur"
                        style="height: 280px;
                        width: 100%;
                        animation: loading 2s infinite;"
                        />
                </figure>
            </div>
        </div>
        <div class="card-body">
            <p class="card-body__headline" 
            style="height: 20px; white-space: nowrap; animation: loading 2s infinite;"></p>
            <div class="card-footer">
                <p class="card-footer__secondary-text"></p>
            </div>
        </div>
</div>