<div class="power-circle__wrapper grid-col-2--4-2">
    <div class="power-circle {{if (this.isgreat @skill) " power-circle--over-half" "" }}">
        <span class="power-circle__rating">{{@skill}}</span>
        <div class="power-circle__slice">
            <div class="power-circle__bar" style="transform: rotate({{@skilldeg}}deg)"></div>
            <div class="power-circle__fill"></div>
        </div>
    </div>
    <div class="power-circle__label">{{@name}}</div>
</div>